@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.custom-break::after {
	content: "\A";
}

.custom-break::after {
	white-space: pre;
}

html {
  height: 100%;
}

body {
  background-color: #F2F2F2;
  font-size: 22px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color:#333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header, .page-main, .page-footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-main {
  flex-grow: 1;
}

.page-header {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  display: block;
  position: absolute;
  top:0;
  left: 0;
}

.logo-wrapper {
  margin-right: 28px;
  width: 140px;
  height: 64px;
  display: block;
  position: relative;
}

.header-navigation{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-right: 20px;
}

.header-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.header-menu-item .header-menu-item-link{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#000;
  text-decoration: none;
  display: block;
  padding: 20px 16px;
}

.header-menu-item.is-active .header-menu-item-link {
  text-decoration:underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
}

.header-right-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.header-right-menu-list .search-icon, .header-right-menu-list .favorite-icon {
  text-decoration: none;
  padding: 22px 12px;
  display: block;
}

.header-right-menu-list .icon-image{
  display: block;
}

.favorite-icon {
  position: relative;
}
.favorite-count {
  color: #fff;
  width:20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  line-height: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:11px;
  right:4px;
}

.buttons-wrapper{
  padding-top: 14px;
  padding-bottom: 14px;
  width: 160px;
}

.button{
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color:#fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color:#615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color:rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
  color:#FFFFFF;
}

.header-button {
  padding: 8px 10px;
  width:100%;
  box-sizing: border-box;
}

.subscribe-button{
  border-radius: 0px 4px 4px 0px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.subscribe-button:hover, .button-submit:hover, .favorite-button:hover {
  background-color:#68A2CA;
}

.subscribe-button:focus, .button-submit:focus, .favorite-button:focus {
  background-color:#68A2CA;
}

.subscribe-button:active, .button-submit:active, .favorite-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.favorite-button {
  background-color: #82B3D3;
}

.favorite-button.is-active {
  background-color: #7DB54F;
}

.favorite-button.is-active:hover {
  background-color: #6C9E42;
}

.favorite-button.is-active:focus {
  background-color: #6C9E42;
}

.favorite-button.is-active:active {
  background-color: #7DB54F;
}

.button-small {
  padding: 8px 20px;
  width: 100%;
  box-sizing: border-box;
}

.button-submit {
  background-color: #82B3D3;
  margin-bottom: 32px;
  padding: 8px 10px;
  width: 100%;
  box-sizing: border-box;
}

.button-reset {
  background-color: transparent;
  padding: 8px 10px;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.button-reset:hover {
  background-color: transparent;
  opacity: 0.6;
}

.button-reset:focus {
  outline: none;
  background-color: transparent;
  border: 3px solid #83B3D3;
}

.button-reset:active {
  color:rgba(255, 255, 255, 0.3);
}

.hero-title {
  margin: 0;
}

.hero{
  background-image: url("../images/hero/divider.png"), url("../images/hero/sedona-hero-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: contain, cover;
  background-color: #beceee;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero .hero-image{
  display: block;
  width: 458px;
  margin: 0 auto;
}

.head-text {
  padding-left: 250px;
  padding-right: 250px;
}

.head-text .text-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin:0px;
  color: #000;
  margin-bottom: 20px;
}

.head-text .text-description {
  text-align: center;
  margin:0px;
}

.search .text-description, .subscribe .text-description {
  margin: 0;
  margin-bottom: 54px;
}

.advantages-section-text .text-title {
  margin-bottom: 25px;
}

.advantages-section-text {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.service-section-text {
  padding-top: 64px;
  padding-bottom: 64px;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns:repeat(3, 400px);
}

.advantage-image {
  display: block;
  object-fit: contain;
}

.reversed-item .advantage-image-wrapper {
  order:-1;
}

.advantages-item.wide-item, .advantages-item.wide-item {
  grid-column: 1 / -1;
}

.advantages-item:nth-child(even) .item-text-box {
  background-color: #83B3D31F;
}

.advantages-item:nth-child(odd) .item-text-box {
  background-color: #83B3D333;
}

.advantages-item.wide-item .item-text-box {
  background-color: #82B3D3;
  color:#fff;
}

.advantages-item.wide-item .advantages-text-title {
  color:#fff;
}

.advantages-item.wide-item {
  display: flex;
  flex-wrap: wrap;
}

.item-text-box{
  width:400px;
  min-height: 385px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 75px 84px;
}

.advantages-text-wrapper .advantages-text-title, .services-item .services-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}

.services-item .services-item-title {
  margin-top: 0px;
  margin-bottom: 30px;
}

.advantages-text-wrapper .advantages-text-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-text-wrapper .advantages-text-description {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

.advantages-item p::before {
  content: ' ';
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto 30px;
}

.advantages-item.wide-item p::before {
  content: ' ';
  display: block;
  width: 60px;
  height: 2px;
  background-color: #fff;
  margin: 0 auto 30px;
}

.advantages-text-wrapper .advantages-text-description, .services-item .services-item-description {
  font-size: 18px;
  line-height: 21px;
}

.services-item .services-item-description {
  margin-bottom: 0px;
  margin-top: 0px;
}

.services {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item-wrapper {
  text-align: center;
  width: 230px;
}

.services li {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 85px;
  box-sizing: border-box;
}

.services li:nth-child(odd) {
  background-color: #83B3D31F;
}

.advantage-home-icon::before {
  content: " ";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../images/advantages/home.svg");
  background-repeat: no-repeat;
}

.advantage-food-icon::before {
  content: " ";
  display: block;
  width: 74px;
  height: 70px;
  background-image: url("../images/advantages/food.svg");
  background-repeat: no-repeat;
}

.advantage-present-icon::before {
  content: " ";
  display: block;
  width: 64px;
  height: 76px;
  background-image: url("../images/advantages/present.svg");
  background-repeat: no-repeat;
}

.advantage-home-icon::before, .advantage-food-icon::before, .advantage-present-icon::before {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-image {
  background-image: url("../images/subscribe/subscribe-background.jpg");
  color:#fff;
  background-color: #beceee;
  background-size: cover;
}

.subscribe-image .text-title {
  color:#fff;
}

.subscribe form{
  display: flex;
  justify-content: center;
}

.email-field {
  width: 412px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding: 12px 20px 12px 20px;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
}

.filter {
  padding: 35px 70px 70px;
  background-image: url("../images/filter/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  background-color: #beceee;
}

.breadcrumb {
  list-style:none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumb .crumb {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 21px;
  font-size: 16px;
}

.breadcrumb .crumb:hover {
  color:rgba(255, 255, 255, 0.6);
}

.breadcrumb .crumb:focus {
  color:#fff;
}

.breadcrumb .crumb:active {
  color:rgba(255, 255, 255, 0.3);
}

.breadcrumb li::after {
  content: ' ';
  display: flex;
  background-image: url("../images/filter/arrow.svg");
  background-repeat: no-repeat;
  width:8px;
  height: 10px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.breadcrumb li:last-child:after{
  display: none;
}

.home-types-list li, .infrastrucure-list li {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.home-types-list li:last-child, .infrastrucure-list li:last-child {
  margin-bottom: 0;
}

.home-types-list input, .infrastrucure-list input {
  margin: 0;
}

.breadcrumb-home-icon{
  background-image: url("../images/filter/home.svg");
  width: 13px;
  height: 15px;
  display: block;
}

.filter .filter-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.input-checkbox, .input-radio, .sort {
  font-family: inherit;
}

.input-checkbox + span::before, .input-checkbox:checked + span::before {
  content: ' ';
  display:inline-block;
  height: 20px;
  width:20px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 16px;
  vertical-align: bottom;
  cursor: pointer;
  box-sizing: border-box;
}

.input-checkbox:checked + span::before {
  background-image: url("../images/filter/check.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.input-checkbox:hover + span {
  color:rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.input-checkbox:hover + span::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.input-checkbox:focus + span::before {
  border:3px solid #83B3D3;
}

.input-checkbox:active + span {
  color:rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.input-checkbox:active + span::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.input-radio + span::before, .input-radio:checked span::before {
  content: ' ';
  display:inline-block;
  height: 20px;
  width:20px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 16px;
  vertical-align: bottom;
  cursor: pointer;
  box-sizing: border-box;
}

.input-radio:checked + span::before {
  background-image: url("../images/filter/radio.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.input-radio:hover + span::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.input-radio:hover + span {
  color:rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.input-radio:focus + span::before {
  border:3px solid #83B3D3;
}

.input-radio:active + span::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.input-radio:active + span {
  color:rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.sort {
  border: 2px solid #E5E5E5;
  height: 49px;
  width: 290px;
  box-sizing: border-box;
  padding: 0px 20px;
  background-color: #fff;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  background-image: url("../images/filter/select-arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.sort:hover {
  border: 2px solid #68A2CA;
}

.sort:focus {
  outline: none;
}

.sort:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color:rgba(0, 0, 0, 0.3);
  background-image: url("../images/filter/select-arrow-disabled.svg");
}

.sort_wrapper {
  margin-right: auto;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter .filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.infrastrucure-list {
  list-style:none;
  margin: 0;
  padding: 0;
}

.home-types-list {
  list-style:none;
  margin: 0;
  padding: 0;
}

.filter .infrastrucure {
  margin-right: 70px;
  width: 150px;
}

.filter .home-types {
  margin-right: 140px;
  width: 150px;
}

.filter .price-range {
  margin-right: auto;
}

.filter-battons {
  margin-top: 56px;
  width: 191px;
}

.catalog {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
}

.catalog-controls {
  display: flex;
  margin-bottom: 40px;
}

.catalog-controls-buttons {
  display: flex;
  column-gap: 8px;
}

.catalog-controls-button { 
  border:2px solid #E5E5E5;
  background-color: #fff;
  border-radius: 4px;
  min-width: 48px;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  cursor: pointer;
}
.catalog-controls-button:hover {
  border:2px solid #000;
}

.catalog-controls-button:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.catalog-controls-button:active {
  border:2px solid #000;
}

.catalog-controls-button.is-active {
  border:2px solid #000;
}

.catalog-list .catalog-item-article {
  padding: 19px;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.catalog-title{
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.catalog .catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0px;
  color: #000;
  align-self: center;
  margin-right: 200px;
  text-transform: uppercase;
}

.catalog-item-article .catalog-item-article-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #000;
}

.catalog-item-article-title-link {
  text-decoration: none;
  color:#000;
}

.rating {
  width: 140px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns:repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
}

.catalog-item-buttons-wrapper {
  display: grid;
  gap:20px;
  grid-template-columns:repeat(2, 140px);
  margin-top: auto;
}

.catalog-list img {
  display: block;
}

.stars {
  width:140px;
  height: 37px;
}

.stars-2 {
  background-image: url("../images/hotels/stars-2.svg");
}

.stars-3 {
  background-image: url("../images/hotels/stars-3.svg");
}

.stars-4 {
  background-image: url("../images/hotels/stars-4.svg");
}

.catalog-item-price{
  font-size: 18px;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.catalog-navigation-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-navigation-links .nav-link {
  text-decoration: none;
  color:#fff;
  background-color: #82B3D3;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  padding: 10px;
  box-sizing: border-box;
}

.catalog-navigation-links .nav-link:hover {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.catalog-navigation-links .nav-link:focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.catalog-navigation-links .nav-link:active {
  background-color: #82B3D3;
  border: none;
  color:rgba(255, 255, 255, 0.3);
}

.catalog-navigation-links .nav-link.active {
  background-color: #F2F2F2;
  color:#000;
}

.catalog-navigation-links .nav-link.active:hover, .catalog-navigation-links .nav-link.dots:hover, .nav-link.dots:focus, .nav-link.active:focus {
  border: none;
}

.catalog-navigation-links .nav-link.dots {
  background-color: transparent;
  color:#000;
}

.catalog-navigation {
  padding-top: 40px;
  border-top: 1px solid #E6E6E6;
}

.catalog-navigation-links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.page-footer-socials {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-footer-socials .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.page-footer-socials .social-link svg{
  color:#83B3D3;
}

.page-footer-socials .social-link:hover svg, .page-footer-socials .social-link:focus svg{
  color: #68A2CA;
}
.page-footer-socials .social-link:active svg{
  color:rgba(104, 162, 202, 0.3);
}

.page-footer .phones {
  max-width:720px;
  margin: 0 auto;
  text-align: center;
  align-self: center;
  display:flex;
  flex-direction: column;
}

.page-footer-logo-wrapper img{
  display: block;
}

.vk-icon {
  display: block;
  background-image: url("../images/footer/vk.svg");
  background-size: 24px 14px;
}

.tg-icon {
  background-image: url("../images/footer/telegram.svg");
  background-size: 18px 16px;
}

.youtube-icon {
  background-image: url("../images/footer/youtube.svg");
  background-size: 22px 17px;
}

.phones .phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color:#000;
}

.phones .phone:hover {
  color: #756157;
}

.phones .phone:focus {
  color: #756157;
}

.phones .phone:active {
  color:rgba(117, 97, 87, 0.3);
}

.footer-logo {
  color:#000;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:focus {
  color: #756157;
}

.footer-logo:active svg {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-logo-wrapper {
  align-self: center;
}

.filter-range {
  width: 288px;
  font-size: 18px;
  line-height: 24px;
}

.filter-range input {
  width: 141px;
  height: 48px;
  display: inline-flex;
  background-color: #fff;
  align-items: center;
  padding: 12px 20px;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 700;
  border: 3px solid transparent;
}

.price-from-label, .price-to-label{
  position: relative;
}

.price-from-label span, .price-to-label span {
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top:0;
  right:20px;
}
.price-from {
  border-radius: 4px 0px 0px 4px;
}
.price-to {
  border-radius: 0px 4px 4px 0px;
}

.filter-range input:focus {
  outline: none;
  border: 3px solid #83B3D3;
}

.filter-range-title {
  margin-bottom: 9px;
  
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
  
.price-controls {
  position: relative;
    
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;
  
  border: 2px solid #ffffff;
  border-radius: 2px;
}
  
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 2px;
  height: 22px;
  
  background: #ffffff;
  transform: translate(-50%, -50%);
}
  
.price-controls label {
  display: inline-block;
  
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  
  cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
  
.price-controls input {
  width: 50px;
  margin: 0;
  
  color: inherit;
  font: inherit;
  
  background: none;
  border: none;
  outline: none;
}
  
.range-controls {
  position: relative;
  margin-top: 46px;
}
  
.range-controls .scale {
  height: 2px;
  
  background: rgb(146, 146, 146);
}
  
.range-controls .bar {
  width: 80%;
  height: 2px;
  
  background: #ffffff;
}
  
.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;
  
  background: #fff;
  border: 8px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
  
.range-toggle:hover {
  background: #1c4f80;
}
  
.range-toggle-min {
  left: 0;
}
  
.range-toggle-max {
  left: 80%;
}
  
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
 
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
  
.btn-transparent:hover {
  color: #000000;
  
  background: #ffffff;
}