@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  background-color: #F2F2F2;
  font-size: 22px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header, .page-main, .page-footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-header{
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.header-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-item a{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color:#000;
  text-decoration: none;
}

.header-menu-item.is-active a {
  text-decoration:underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
  text-underline-position: under;
}

.header-right-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-right-menu-list a {
  text-decoration: none;
}
.favorite-count {
  color: #fff;
  width:20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  display: flex;
  font-size: 10px;
  line-height: 10px;
  justify-content: center;
  align-items: center;
}

.button{
  text-decoration: none;
  text-transform: uppercase;
  color:#fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  display: inline-block;
  border: none;
}

.subscribe-button{
  border-radius: 0px 4px 4px 0px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.favorite-button {
  background-color: #82B3D3;
  padding: 8px 20px;
}

.favorite-button.is-active {
  background-color: #7DB54F;
}

.button-small-detail {
  padding: 8px 26px;
}

.button-submit {
  background-color: #82B3D3;
}

.button-reset {
  padding: 8px 57px;
  background-color: transparent;
}

.hero-h1 {
  margin: 0;
}

.hero{
  background-image: url("../images/hero/divider.png"), url("../images/hero/sedona-hero-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: contain, cover;
  background-color: #000;
  height: 485px;
  box-sizing: border-box;
  padding-top: 51px;
}

.hero img{
  display: block;
  width: 458px;
  margin: 0 auto;
}

.advantages-section-text h2, .service-section-text h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin:0px;
}

.advantages-section-text h2 {
  margin-bottom: 25px;
}

.advantages-section-text {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

.service-section-text h2{
  margin-bottom: 20px;
}

.service-section-text {
  padding-top: 64px;
  padding-bottom: 64px;
}

.advantages-section-text p, .service-section-text p {
  text-align: center;
  margin:0px;
}

.advantages-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-text-wrapper h3, .services-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.advantages-text-wrapper p, .services-item p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.services {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item-wrapper {
  text-align: center;
}

.services li:first-child {
  background-color: #83B3D31F;
}

.services li:last-child {
  background-color: #83B3D31F;
}

.advantage-home-icon{
  display: inline-block;
  width: 75px;
  height: 72px;
  background-image: url("../images/advantages/home.svg");
  background-repeat: no-repeat;
}

.advantage-food-icon {
  display: inline-block;
  width: 74px;
  height: 70px;
  background-image: url("../images/advantages/food.svg");
  background-repeat: no-repeat;
}
.advantage-present-icon {
  display: inline-block;
  width: 64px;
  height: 76px;
  background-image: url("../images/advantages/present.svg");
  background-repeat: no-repeat;
}

.search{
  padding: 96px 0;
  text-align: center;
}

.search h2{
  margin: 0;
  margin-bottom: 20px;
}

.search p {
  margin: 0;
  margin-bottom: 54px;
}

.subscribe {
  height: 415px;
  box-sizing: border-box;
  padding-top: 96px;
}

.subscribe-image {
  background-image: url("../images/subscribe/subscribe-background.jpg");
  color:#fff;
}

.subscribe h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.subscribe p {
  text-align: center;
  margin-bottom: 54px;
}

.subscribe form{
  display: flex;
  justify-content: center;
}

.email-field {
  width: 412px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding: 12px 20px 12px 20px;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
}

.filter {
  padding: 35px 70px;
  background-image: url("../images/filter/filter-background.jpg");
  background-repeat: no-repeat;
  color:#fff;
}

.breadcrumb {
  list-style:none;
  margin: 0;
  padding: 0;
}

.breadcrumb-home-icon{
  background-image: url("../images/filter/home.svg");
  width: 13px;
  height: 15px;
  display: block;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter legend {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.infrastrucure-list {
  list-style:none;
  margin: 0;
  padding: 0;
}

.home-types-list {
  list-style:none;
  margin: 0;
  padding: 0;
}

.main-h1{
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.catalog h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0px;
}

.catalog-item-article h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.catalog-item-article-title {
  text-decoration: none;
  color:#000;
}

.rating {
  width: 140px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-navigation-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-navigation-links a {
  text-decoration: none;
  color:#fff;
  background-color: #82B3D3;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.catalog-navigation-links a.active {
  background-color: #F2F2F2;
  color:#000;
}

.catalog-navigation-links a.dots {
  background-color: transparent;
  color:#000;
}

.page-footer{
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

.page-footer-socials{
  padding: 0;
  margin: 0;
  list-style: none;
}

.vk-icon {
  display: block;
  width: 24px;
  height: 14px;
  background-image: url("../images/footer/vk.svg");
  background-repeat: no-repeat;
}

.tg-icon {
  display: block;
  width: 18px;
  height: 16px;
  background-image: url("../images/footer/telegram.svg");
  background-repeat: no-repeat;
}

.youtube-icon {
  display: block;
  width: 22px;
  height: 17px;
  background-image: url("../images/footer/youtube.svg");
  background-repeat: no-repeat;
}

.phones a {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  color:#000;
}

.filter-range {
  width: 380px;
  
  color: #ffffff;
  text-transform: uppercase;
}
  
.filter-range-title {
  margin-bottom: 9px;
  
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
  
.price-controls {
  position: relative;
    
  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;
  
  border: 2px solid #ffffff;
  border-radius: 2px;
}
  
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 2px;
  height: 22px;
  
  background: #ffffff;
  transform: translate(-50%, -50%);
}
  
.price-controls label {
  display: inline-block;
  
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  
  cursor: pointer;
}
  
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
  }
  
.price-controls input {
  width: 50px;
  margin: 0;
  
  color: inherit;
  font: inherit;
  
  background: none;
  border: none;
  outline: none;
}
  
.range-controls {
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px;
}
  
.range-controls .scale {
  height: 2px;
  
  background: rgb(146, 146, 146);
}
  
.range-controls .bar {
  width: 80%;
  height: 2px;
  
  background: #ffffff;
}
  
.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;
  
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
  
.range-toggle:hover {
  background: #1c4f80;
}
  
.range-toggle-min {
  left: 0;
}
  
.range-toggle-max {
  left: 80%;
}
  
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
 
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
  
.btn-transparent:hover {
  color: #000000;
  
  background: #ffffff;
}